<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0c1869ee4ff1d2262e56ae736234d549360dffe3
<h1> Add New Recipe </h1>

<%= render 'errors' %>

<%= render 'form' %>
<<<<<<< HEAD
=======
<h1>NEW</h1>
>>>>>>> 0f806e68899de19a9a5bed25f4c758b14ee7d0b0
=======
>>>>>>> 0c1869ee4ff1d2262e56ae736234d549360dffe3
