<h1>We Knew You'd Be Back</h1>
<div class="wrapper">
<form class="form-signin">
  <%= form_tag '/login', :class => "form-signin" do %>
    <hr>
    Email: <%= text_field_tag :email%>
    <br     />

    Password: <%= password_field_tag :password %>
    <br     >
    <%= submit_tag "Submit", :class => "btn btn-lg btn-primary"  %>
  <% end %>
  </form>
</div>
