<div class="wrapper">
<form class="form-signin">   
<h1 class="form-signin-heading">login</h1>
  <%= form_tag '/login', :class => "form-signin" do %>
    <hr>
    <label>Email:</label> 
    <%= text_field_tag :email, nil, class: "form-control" %>
   
    <labelsubl .>Password:</label>
    <%= password_field_tag :password ,nil, class: "form-control"%>
    
    <%= submit_tag "Submit", :class => "btn btn-lg btn-primary"  %>
  <% end %>
  </form>
</div>
 