
<div class="top_four">

    <% @top_four.each do |menu_type| %>
    	<h3><%=menu_type.course_type%></h3>
      <li>
        <%if !menu_type.empty? %>
          <%if menu_type.length>5 %>
          <%= menu_type[rand(0...4)].name %>
          <% else %>
          <%=  menu_type[rand(0...menu_type.length-1)].name%>
          <% end %>
        <% end %>
      </li>
    <% end %>

</div>
