


<div class="top_four">
  <ul>
    <% @top_four.each do |menu_type| %>
      <li>
        <%if !menu_type.empty? %>
      <%= menu_type[rand(0..4)].name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
